@tailwind base;
@tailwind components;
@tailwind utilities;

/* SVG icon hover */
.hover-icon:hover svg path {
    fill: #d4fff6;
}


/* Basic spinner */
.circle-spinner {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #2b2b2ba4;
    position: relative;
}

.circle-spinner::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #d4fff69e transparent transparent transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Dice animation */
 .add-keyframe {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
 }
 
 .dice-juno {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) translateX(0);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    
    > div {
       height: 60px;
       width: 60px;
       position: absolute;
       background: #000;
       box-shadow: 0 0 3px 1px #ff7b7c;
    }
 
    span {
       width: 8px;
       height: 8px;
       background: #ff7b7c;
       border-radius: 50%;
       display: block;
       position: absolute;
    }
 
    .front { 
       transform: rotateY(0deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 10px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 10px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 12px;
          }
          &:nth-child(4) {
             top: 26px;
             right: 12px;
          }
          &:nth-child(5) {
             bottom: 10px;
             left: 12px;
          }
          &:nth-child(6) {
             bottom: 10px;
             right: 12px;
          }
       }
    }
    .back { 
       transform: rotateX(180deg) translateZ(30px);
 
       span {
          top: 26px;
          left: 26px;
       }
    }
    .right { 
       transform: rotateY(90deg) translateZ(30px); 
 
       span {
          &:nth-child(1) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 26px;
          }
          &:nth-child(4) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(5) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
    .left { 
       transform: rotateY(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
       }
    }
    .top { 
       transform: rotateX(90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 26px;
             left: 26px;
          }
       }
    }
    .bottom { 
       transform: rotateX(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(4) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
 }
 .dice-aura {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) translateX(0);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    
    > div {
       height: 60px;
       width: 60px;
       position: absolute;
       background: #000;
       box-shadow: 0 0 3px 1px #a2fcde;
    }
 
    span {
       width: 8px;
       height: 8px;
       background: #a2fcde;
       border-radius: 50%;
       display: block;
       position: absolute;
    }
 
    .front { 
       transform: rotateY(0deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 10px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 10px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 12px;
          }
          &:nth-child(4) {
             top: 26px;
             right: 12px;
          }
          &:nth-child(5) {
             bottom: 10px;
             left: 12px;
          }
          &:nth-child(6) {
             bottom: 10px;
             right: 12px;
          }
       }
    }
    .back { 
       transform: rotateX(180deg) translateZ(30px);
 
       span {
          top: 26px;
          left: 26px;
       }
    }
    .right { 
       transform: rotateY(90deg) translateZ(30px); 
 
       span {
          &:nth-child(1) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 26px;
          }
          &:nth-child(4) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(5) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
    .left { 
       transform: rotateY(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
       }
    }
    .top { 
       transform: rotateX(90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 26px;
             left: 26px;
          }
       }
    }
    .bottom { 
       transform: rotateX(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(4) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
 }
 .dice-injective {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) translateX(0);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    
    > div {
       height: 60px;
       width: 60px;
       position: absolute;
       background: #000;
       box-shadow: 0 0 3px 1px #7bcfff;
    }
 
    span {
       width: 8px;
       height: 8px;
       background: #7bcfff;
       border-radius: 50%;
       display: block;
       position: absolute;
    }
 
    .front { 
       transform: rotateY(0deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 10px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 10px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 12px;
          }
          &:nth-child(4) {
             top: 26px;
             right: 12px;
          }
          &:nth-child(5) {
             bottom: 10px;
             left: 12px;
          }
          &:nth-child(6) {
             bottom: 10px;
             right: 12px;
          }
       }
    }
    .back { 
       transform: rotateX(180deg) translateZ(30px);
 
       span {
          top: 26px;
          left: 26px;
       }
    }
    .right { 
       transform: rotateY(90deg) translateZ(30px); 
 
       span {
          &:nth-child(1) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 26px;
          }
          &:nth-child(4) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(5) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
    .left { 
       transform: rotateY(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
       }
    }
    .top { 
       transform: rotateX(90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 26px;
             left: 26px;
          }
       }
    }
    .bottom { 
       transform: rotateX(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(4) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
 }
 .dice-stargaze {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) translateX(0);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    
    > div {
       height: 60px;
       width: 60px;
       position: absolute;
       background: #000;
       box-shadow: 0 0 3px 1px #f4ee6f;
    }
 
    span {
       width: 8px;
       height: 8px;
       background: #f4ee6f;
       border-radius: 50%;
       display: block;
       position: absolute;
    }
 
    .front { 
       transform: rotateY(0deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 10px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 10px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 12px;
          }
          &:nth-child(4) {
             top: 26px;
             right: 12px;
          }
          &:nth-child(5) {
             bottom: 10px;
             left: 12px;
          }
          &:nth-child(6) {
             bottom: 10px;
             right: 12px;
          }
       }
    }
    .back { 
       transform: rotateX(180deg) translateZ(30px);
 
       span {
          top: 26px;
          left: 26px;
       }
    }
    .right { 
       transform: rotateY(90deg) translateZ(30px); 
 
       span {
          &:nth-child(1) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(3) {
             top: 26px;
             left: 26px;
          }
          &:nth-child(4) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(5) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
    .left { 
       transform: rotateY(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
       }
    }
    .top { 
       transform: rotateX(90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 26px;
             left: 26px;
          }
       }
    }
    .bottom { 
       transform: rotateX(-90deg) translateZ(30px);
 
       span {
          &:nth-child(1) {
             top: 12px;
             right: 12px;
          }
          &:nth-child(2) {
             top: 12px;
             left: 12px;
          }
          &:nth-child(3) {
             bottom: 12px;
             left: 12px;
          }
          &:nth-child(4) {
             bottom: 12px;
             right: 12px;
          }
       }
    }
 }

 @keyframes rotate {
    0% { transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0); }
    16.66% { transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0); }
    33.33% { transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0); }
    49.99% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0); }
    66.66% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0); }
    83.33% { transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0); }
    100% { transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0); }
  }
 
 /* @keyframes rotate {
    0% { transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0); }
    35% { transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0); }
    45% { transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0); }
    65% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0); }
    75% { transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0); }
    100% { transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0); }
 } */